.content {
  &.theme--clear {
    background-color: #498CEC;
    color: #FFF;

    .temperature-icon {
      color: #FFF9AE;
    }

    .temperature-unit-switch .switch {
      border-color: rgba(228, 228, 228, 0.15);

      & > span {
        color: rgba(228, 228, 228, 0.6);
      }

      .selected {
        color: #FFF;
        background-color: rgba(228, 228, 228, 0.2);
      }
    }
  }

  &.theme--clouds {
    background-color: #c5e7f4;
    color: #000000;

    .temperature-icon {
      color: #484e60;
    }

    .temperature-unit-switch .switch {
      border-color: rgba(86, 86, 86, 0.5);

      & > span {
        color: rgb(123, 123, 123);
      }

      .selected {
        color: #2a2a2a;
        background-color: rgba(162, 162, 162, 0.65);
      }
    }
  }

  &.theme--rain {
    background-color: #475357;
    color: #dedede;

    .temperature-icon {
      color: #c1d2d6;
    }

    .temperature-unit-switch .switch {
      border-color: rgb(148, 148, 148);

      & > span {
        color: rgb(228, 228, 228);
      }

      .selected {
        color: #2a2a2a;
        background-color: rgba(208, 208, 208, 0.65);
      }
    }
  }
}